.button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 10%;
    transition: 1s;
    background: rebeccapurple;
    border: 0;
    border-radius: 12px 5px;
    cursor: pointer;
}
.button_clicked {
    width: 12%;
    transition: 1s;
    background: #bc28ff;
    border-radius: 7px 15px;
}
.button__text {
    font-family: "Droid Sans";
    font-size: 20px;
    margin-right: 10px;
}
.wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 5%;
}
.clicked {
    display: none;
}
.shown {
    display: block;
}